.container {
  max-width: 1440px;
  margin: 0 auto;

  header {
    padding: 2.5rem 23.125rem;
  }
}

.content {
  max-width: 720px;
  margin: 5rem auto;

  p {
    color: var(--info);
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }
}

.bodyContent {
  margin-top: 4rem;

  h2 {
    font-size: 2.25rem;
    font-weight: bold;
  }

  p {
    font-size: 1.125rem;
    margin: 4rem 0;
  }
}
